@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(3px);
  }
}

.modal {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  transition: transform 0.9s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  z-index: 1000;
}

.modal.active {
  transform: scale(1);
}

.modal_content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  padding: 40px;
  border-radius: 12px;
  background-color: #fff;
  width: 50%;
  height: 70vh;
}

.dropdown_btn {
  background-color: rgb(113, 184, 171);
  color: white;
  padding: 12px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown_content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 130px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown_content_btn {
  color: black;
  padding: 9px 10px;
  text-decoration: none;
  display: block;
}

.dropdown_content_btn:hover {
  background-color: #dbdbdb;
}

.dropdown:hover .dropdown_content {
  display: block;
}

.modal_title {
  width: 100%;
  font-size: 22px;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  line-height: 1.3em;
}

.modal_input {
  font-size: 20px;
  border: 3px solid rgb(113, 184, 171);
  margin-top: 10px;
  padding: 2px;
  transition: border-color 0.3s ease;
  width: 80%;
}

.modal_input.error {
  border-color: red;
  animation: shake 0.5s;
}

.error_message {
  color: red;
  margin-top: 1px;
}

.button {
  padding: 15px 25px;
  background-color: rgba(180, 253, 240, 1);
  border-radius: 25px;
  font-size: 18px;
  transition: 0.2s linear;
}

.button:hover {
  box-shadow: 3px 3px 3px 0.2px rgb(96, 205, 185);
}
