.pages_inner {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.paginationItem {
  padding: 5px 10px;
  border-radius: 50%;
  border: 5px solid aquamarine;
  color: black;
  font-size: 22px;
  font-weight: bold;
  margin-left: 30px;
  transition: 0.6s ease-out;
}

.paginationItem:hover {
  padding: 5px 10px;
  border-radius: 50%;
  border: 5px solid aquamarine;
  color: white;
  background-color: aquamarine;
  font-size: 22px;
  font-weight: bold;
  margin-left: 30px;
}

.active {
  background-color: aquamarine;
  color: white;
  border-color: aquamarine;
}
